<tr id="<%= dom_id company %>">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= company.name %></td>

  <% if action_name != "show" %>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
      <%= link_to "Ver monitoreos", shifts_company_path(company), class: "text-indigo-600 hover:text-indigo-900" %>
    </td>

    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
      <%= link_to "Mostrar", company, class: "text-indigo-600 hover:text-indigo-900" %>

    </td>

    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
      <%= link_to 'Editar', edit_company_path(company), class: "text-indigo-600 hover:text-indigo-900" %>
    </td>
  <% end %>
</tr>
